
.input-form{
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}

.Caurosel{
    flex-basis: 57.5%;
}
.imageForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: red;
}

.visa{
    width: 100%;
    height: 35rem;
}

.know-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid black; */
    height: 100%;
}

.NameTable,.EmailTable,.TypeTable{
    display: flex;
    justify-content: space-between;
}

.form-details{
    background-color: blueviolet;
}

label{
    display: flex;
    flex-direction: column;
}

input{
    font-size: x-large;
    width: 20rem;
    padding: 5px;
    margin: 7px;
}

select{
    font-size: x-large;
    width: 20rem;
    padding: 5px;
    margin: 7px;
}

.submit-button{
    display: flex;
    justify-content:flex-end;
    /* border: 2px solid black; */
  
}

.input-submit-button{
    width:8rem;
}

label{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:615px){
    .visa{
        height: 25rem;
    }
}

@media screen and (max-width:520px){
    .visa{
        height: 22rem;
        width: 22rem;
    }
}

@media screen and (max-width:449px){
    .visa{
        height: 20rem;
        width: 20rem;
    }
}

@media screen and (max-width:1101px){
    .input-form{
        display: flex;
        flex-direction: column;
    }  
    .Caurosel{
        min-height: 420px;
    }
}

@media screen and (max-width:679px){
    .NameTable,.EmailTable,.TypeTable{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .submit-button{
        display: flex;
        justify-content:center;
        /* border: 2px solid black; */
    }
    
}
