.row{
    margin: 1px;
}

.ImgContainer{
    position:relative;
}

.ImageLabel{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    font-size: 5rem;
    color: white;
    width: 260px;
    height: 100px;
    z-index: 10;
}


.country{
    height: 100px;
    width: 100px;
}

.cardContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.home{
    background-color: antiquewhite;
}

.cards{
    background-color: white;
    padding: 10px 50px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: large;
    color: black;
}

.cards:hover{
    transform: scale(1.1);
}

.EuropeLink{
    text-decoration: none;
}

@media screen and (max-width:667px){
    .cards{
        padding: 10px 100px;
    }
}

@media screen and (max-width:375px){
    .ImageLabel{
        font-size: 4rem;
    }
}