.Caurosels{
    /* display: flex; */
    /* border: 2px solid black; */
    /* justify-content: space-between;
    align-items: center; */
    position: relative;
}

.leftButton{
    position: absolute;
    left:0;
    top:180px;
    z-index: 1;
    padding: 10px;
}

.rightButton{
    position: absolute;
    right:0;
    top:180px;
    z-index: 1;
    padding: 10px;
}

.hide{
    display: none;
}

.CauroselImage{
    position: absolute;
    width: 100%;
    /* border: 2px solid green; */
    transition: 'display' 2s ease-in-out;
}
