/*Mobile First*/

.Header{
    font-size: larger;
}
.webName{
    display: flex;
    justify-content: flex-start;
}
.Links{
    display: flex;
    justify-content: space-between;
}
a{
    font-size: 1.5rem;
}
/* 
.Image{
    background-image: url('../img/Worldwalk.jpeg');
} */
.Logo{
    height: 7rem;
}

@media screen and (max-width:416px){
    .Logo{
        width: 16rem;
    }
}

@media screen and (max-width:386px){
    .Logo{
        width: 14rem;
    }
}



