/*Mobile First*/

.fixed-top{
    position: sticky;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1000; 
}

.Header{
    font-size: 25px;
    background-color: white;
}
.webName{
    display: flex;
    justify-content: flex-start;
}
.Links{
    display: flex;
    justify-content: space-between;
}
a{
    font-size: 1.5rem;
}
/* 
.Image{
    background-image: url('../img/Worldwalk.jpeg');
} */
.Logo{
    height: 7rem;
    margin-left: -25px;
}

/* .Phone a{
    text-decoration: none;
}
.Phone{
    border: 2px solid red;
} */
@media screen and (max-width:416px){
    .Logo{
        width: 16rem;
    }
}

@media screen and (max-width:386px){
    .Logo{
        width: 14rem;
    }
}



