/*Mobile First*/

.Header{
    font-size: larger;
    padding: 2rem;
}
.webName{
    display: flex;
    justify-content: flex-start;
}
.Links{
    display: flex;
    justify-content: space-between;
}
a{
    font-size: 1.5rem;
}